@font-face {
    font-family: "Damryl";
    src: url(font/FaliceFont.otf);
}



h1{
	    font-family: "Damryl";
	    font-size: 200%;
	    line-height: 120%;
}

body{
	color:rgb(0,0,255);
	font-family: "courier";
}



p {
color: white;

}

table {
	width: 100%;
}

tr {
	
}

td {
	
}

h4 { font-size:80%;
	font-weight: normal;
	margin-left: 10px;
	
}

h5 {
	font-family: "Damryl";
	    font-size: 150%;
	    margin-top: -10px;
	    margin-bottom: -0.7px;
}

img {
	position: fixed;
	width: 50%;
	margin-top: 10px;
	margin-left: 25%;
}



img:hover {
	opacity: 0%;
}